html {
  background-color: #000000;
  font-family: 'arial narrow';
  font-size: 18px;
}
body {
  padding: 2em;
  margin: 2em;
  border-radius: 8px;
}
h1 {
  font-size: 4em;
  border-bottom: 2px solid #dddddd;
  margin-bottom: 1em;
}
.navbar.navbar-light {
  font-size: 1.5em;
}
.route-ng-view {
}
